<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="custom" type="ConfigurationSample.CustomConfigurationSection, ConfigurationSample"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="mySqlConnectionString" connectionString="Data Source=51.38.38.42;Port=3306;Initial Catalog=learningapp;User ID=Lapp;Password=learningapp19;Characterset=UTF8"/>-->
    <add name="mySqlConnectionString" connectionString="Data Source=127.0.0.1;Port=3306;Initial Catalog=learningapp;User ID=root;Password=;Characterset=UTF8"/>
  </connectionStrings>
</configuration>